<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>use face id instead of password</string>
	<key>Users</key>
	<array>
		<dict>
			<key>userId</key>
			<integer>1</integer>
			<key>userEmail</key>
			<string>Ankita@gmail.com</string>
			<key>password</key>
			<string>anku123</string>
		</dict>
		<dict>
			<key>userId</key>
			<integer>2</integer>
			<key>userEmail</key>
			<string>Vishal@gmail.com</string>
			<key>password</key>
			<string>vishal123</string>
		</dict>
		<dict>
			<key>userId</key>
			<integer>3</integer>
			<key>userEmail</key>
			<string>Diksha@gmail.com</string>
			<key>password</key>
			<string>diksha123</string>
		</dict>
		<dict>
			<key>userId</key>
			<integer>4</integer>
			<key>userEmail</key>
			<string>S@gmail.com</string>
			<key>password</key>
			<string>s123</string>
		</dict>
		<dict>
			<key>userId</key>
			<integer>5</integer>
			<key>userEmail</key>
			<string>Netra@gmail.com</string>
			<key>password</key>
			<string>netra123</string>
		</dict>
	</array>
</dict>
</plist>
